<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="javax.frame.tools.task_interact.modules.task.mapper.TmTaskRunMapper">
  <resultMap id="BaseResultMap" type="javax.frame.tools.task_interact.modules.task.model.TmTaskRun">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TNO" jdbcType="VARCHAR" property="tno" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="SUFFIX" jdbcType="VARCHAR" property="suffix" />
    <result column="EXPECTED_NUM" jdbcType="VARCHAR" property="expectedNum" />
    <result column="INCREMENT" jdbcType="VARCHAR" property="increment" />
    <result column="ACTUAL_NUM" jdbcType="VARCHAR" property="actualNum" />
    <result column="RUN_STATE" jdbcType="VARCHAR" property="runState" />
    <result column="INTERRUPT_STATE" jdbcType="VARCHAR" property="interruptState" />
    <result column="INPUT_DATE" jdbcType="BIGINT" property="inputDate" typeHandler="javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler" />
    <result column="INPUT_TIME" jdbcType="BIGINT" property="inputTime" typeHandler="javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler" />
    <result column="UPDATE_DATE" jdbcType="BIGINT" property="updateDate" typeHandler="javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler" />
    <result column="UPDATE_TIME" jdbcType="BIGINT" property="updateTime" typeHandler="javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TNO, NAME, TYPE, SUFFIX, EXPECTED_NUM, INCREMENT, ACTUAL_NUM, RUN_STATE, INTERRUPT_STATE, 
    INPUT_DATE, INPUT_TIME, UPDATE_DATE, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TM_TASK_RUN
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TM_TASK_RUN
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="javax.frame.tools.task_interact.modules.task.model.TmTaskRun">
    insert into TM_TASK_RUN (ID, TNO, NAME, 
      TYPE, SUFFIX, EXPECTED_NUM, 
      INCREMENT, ACTUAL_NUM, RUN_STATE, 
      INTERRUPT_STATE, INPUT_DATE, 
      INPUT_TIME, 
      UPDATE_DATE, 
      UPDATE_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{tno,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{suffix,jdbcType=VARCHAR}, #{expectedNum,jdbcType=VARCHAR}, 
      #{increment,jdbcType=VARCHAR}, #{actualNum,jdbcType=VARCHAR}, #{runState,jdbcType=VARCHAR}, 
      #{interruptState,jdbcType=VARCHAR}, #{inputDate,jdbcType=BIGINT,typeHandler=javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler}, 
      #{inputTime,jdbcType=BIGINT,typeHandler=javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler}, 
      #{updateDate,jdbcType=BIGINT,typeHandler=javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler}, 
      #{updateTime,jdbcType=BIGINT,typeHandler=javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler}
      )
  </insert>
  <insert id="insertSelective" parameterType="javax.frame.tools.task_interact.modules.task.model.TmTaskRun">
    insert into TM_TASK_RUN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="tno != null">
        TNO,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="suffix != null">
        SUFFIX,
      </if>
      <if test="expectedNum != null">
        EXPECTED_NUM,
      </if>
      <if test="increment != null">
        INCREMENT,
      </if>
      <if test="actualNum != null">
        ACTUAL_NUM,
      </if>
      <if test="runState != null">
        RUN_STATE,
      </if>
      <if test="interruptState != null">
        INTERRUPT_STATE,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tno != null">
        #{tno,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null">
        #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="expectedNum != null">
        #{expectedNum,jdbcType=VARCHAR},
      </if>
      <if test="increment != null">
        #{increment,jdbcType=VARCHAR},
      </if>
      <if test="actualNum != null">
        #{actualNum,jdbcType=VARCHAR},
      </if>
      <if test="runState != null">
        #{runState,jdbcType=VARCHAR},
      </if>
      <if test="interruptState != null">
        #{interruptState,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=BIGINT,typeHandler=javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=BIGINT,typeHandler=javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=BIGINT,typeHandler=javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT,typeHandler=javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="javax.frame.tools.task_interact.modules.task.model.TmTaskRun">
    update TM_TASK_RUN
    <set>
      <if test="tno != null">
        TNO = #{tno,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null">
        SUFFIX = #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="expectedNum != null">
        EXPECTED_NUM = #{expectedNum,jdbcType=VARCHAR},
      </if>
      <if test="increment != null">
        INCREMENT = #{increment,jdbcType=VARCHAR},
      </if>
      <if test="actualNum != null">
        ACTUAL_NUM = #{actualNum,jdbcType=VARCHAR},
      </if>
      <if test="runState != null">
        RUN_STATE = #{runState,jdbcType=VARCHAR},
      </if>
      <if test="interruptState != null">
        INTERRUPT_STATE = #{interruptState,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        INPUT_DATE = #{inputDate,jdbcType=BIGINT,typeHandler=javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler},
      </if>
      <if test="inputTime != null">
        INPUT_TIME = #{inputTime,jdbcType=BIGINT,typeHandler=javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=BIGINT,typeHandler=javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=BIGINT,typeHandler=javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="javax.frame.tools.task_interact.modules.task.model.TmTaskRun">
    update TM_TASK_RUN
    set TNO = #{tno,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      SUFFIX = #{suffix,jdbcType=VARCHAR},
      EXPECTED_NUM = #{expectedNum,jdbcType=VARCHAR},
      INCREMENT = #{increment,jdbcType=VARCHAR},
      ACTUAL_NUM = #{actualNum,jdbcType=VARCHAR},
      RUN_STATE = #{runState,jdbcType=VARCHAR},
      INTERRUPT_STATE = #{interruptState,jdbcType=VARCHAR},
      INPUT_DATE = #{inputDate,jdbcType=BIGINT,typeHandler=javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler},
      INPUT_TIME = #{inputTime,jdbcType=BIGINT,typeHandler=javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler},
      UPDATE_DATE = #{updateDate,jdbcType=BIGINT,typeHandler=javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler},
      UPDATE_TIME = #{updateTime,jdbcType=BIGINT,typeHandler=javax.frame.tools.task_interact.modules.commons.mybatis.LocalDateTimeTypeHandler}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>